 
 .adl_masonry {
    column-width:300px;    
    column-gap: 30px;
}

.adl_post {        
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
    border: 1px solid #282c37;
    padding:10px;
    line-height: 1.1;
}


.adl_post h3 {        
    line-height: 1.1;
    padding-bottom:10px;
}

.adl_img {
    padding-bottom:10px; 
    padding-top:10px;
    display: block;
    clear: both;
    max-height:300px;
    width:auto; 
    margin-left: auto;
    margin-right: auto;
}

.adl_post a, .adl_post a:link {
    font-family: "Arial", Sans-serif!important;
    color: #0273b4!important;
    font-weight: normal!important;    
}

.adl_post a:hover {
    color: #04a2fc!important;
}
 
.entry.h-entry {
    background: #282c37;
} 

